* {
    padding: 0;
    margin: 0;
}

.outer_container {
    position: relative;
    max-width: 1798px;
    min-width: 540px;
    overflow: hidden;
    margin: 0 auto;
}

.content_container {
    max-width: 1270px;
    margin: 0 auto;
}

body {
    font-family: Dosis;
    color: #2f1946;
}

table {
    border-collapse: collapse;
}

/* header menu */

.header_menu {
    padding: 0;
    top: 24px;
    float: right;
    right: 67px;
    position: relative;
    background: transparent;
    width: 85px;
    height: 26px;
    border: none;
}

.header_menu-name {
    position: relative;
    top: 3px;
    left: 0;
    width: 43px;
    height: 13px;
    font-family: Dosis;
    font-size: 18px;
    font-weight: bold;
    margin-right: 12px;
    float: left;
    color: #2f1946;
}

.header_menu-lines {
    display: inline-block;
    width: 30px;
    height: 26px;
}


/* header sticky social */

.header_sticky-social {
    z-index: 1;
    top: 45%;
    width: 49px;
    height: 196px;
    position: fixed;
    display: inline-block;
    background-color: #45124c;
}

.header_sticky-social img:first-child {
    margin-top: 17px;

}

.header_sticky-social img {
    margin: 0 auto;
    display: block;
    height: 24px;
    width: 24px;
    margin-bottom: 22px;
}


/* header */

header {
    margin-bottom: 100px;
    background: url('../img/header/header-bg.jpg.png');
    min-height: 1030px;
    background-size: 100%;
    margin: 0 auto;
    margin-bottom: 114px;
    background-repeat: no-repeat;
}


/* header title */

.header_title {
    position: relative;
    padding-top: 161px;
    text-align: center;
    margin: 0 auto;
}

.header_title-heart {
    box-sizing: border-box;
    margin: 0 auto;
    width: 442px;
    margin-bottom: 63px;
}

.header_title-text {
    display: block;
    margin: 0 auto;
    max-width: 1050px;
    min-height: 72px;
    font-size: 78px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 53px;
}


/*  scroll down  */

.header_scroll_down {
    box-sizing: border-box;
    border: 2px solid #81398b;
    border-radius: 50px;
    background: transparent;
    margin-bottom: 75px;
}

.header_scroll_down-border {
    margin: 10px 13px;
    font-weight: 800;
    width: 162px;
    height: 50px;
    color: white;
    border-radius: 25px;
    background-color: #81398b;
}

.header_scroll_down-border p {
    display: inline-block;
    margin-left: -9px;
    margin-top: 4px;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 0.9px;
    transform: scale(1, 1.6);
}

.header_scroll_down-border img {
    display: inline-block;
    position: relative;
    top: 7px;
    left: 4px;
}


/* cards */

.header_title_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.header_title_cards-card {
    display: inline-block;
    margin: 0 20px;
    width: 235px;
    height: 330px;
    margin-bottom: 20px;
}

.card1 {
    background-color: #fe4a5d;
}

.card2 {
    background-color: #e22028;
}

.card3 {
    background-color: #ff6c00;
}

.header_title_cards-image {
    position: relative;
    top: 0;
    width: 235px;
    height: 220px;
}

.header_title_cards-image img {
    padding-top: 66px;
    margin: 0 auto;
}

.header_title_cards-desk {
    width: 235px;
    height: 110px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: 800;
    font-size: 31px;
}

.header_title_cards-desk p {
    padding-top: 32px;
}


/* center */

.center {
    text-align: center;
    margin-bottom: 159px;
}

.center_title {
    display: inline-block;
    margin: 0 auto;
    max-width: 784px;
    font-size: 29px;
    font-weight: 800;
    margin-bottom: 47px;
}

.center_welcome {
    margin-bottom: 25px;
}

.center_welcome h3 {
    display: inline-block;
    font-size: 52px;
    position: relative;
    top: -10px;
}

.center_title p:last-child {
    color: #fe4a5d;
    text-align: right;
}


/* center div */

.center_register {
    display: block;
    position: relative;
    background-image: linear-gradient(to left, #f9b416, #e22028);
    max-width: 466px;
    height: 554px;
    margin: 0 auto;
}

/* left photos */

.center_register_leftPhotos {
    position: absolute;
    top: 14px;
    left: -666px;
    width: 626px;
    height: 509px;
}

.center_register_leftPhotos_1col,
.center_register_leftPhotos_2col {
    display: inline-block;
}

.center_register_leftPhotos_1col {
    position: relative;
    top: 34px;
    left: -13px;
    width: 254px;
    height: 439px;
}

.center_register_leftPhotos_2col {
    position: relative;
    top: 2px;
    left: 13px;
    width: 343px;
    height: 476px;
}

.photo1 {
    width: 100%;
    height: 204px;
    margin-bottom: 23px;
}

.photo3 {
    width: 100%;
    height: 208px;
}

.photo2 {
    width: 100%;
    height: 189px;
    margin-bottom: 23px;
}

.photo4 {
    width: 100%;
    height: 260px;
}


/* right photos */

.center_register_rightPhotos {
    position: absolute;
    top: 20px;
    right: -662px;
    width: 627px;
    height: 514px;
}

.center_register_rightPhotos_1col,
.center_register_rightPhotos_2col {
    display: inline-block;
}

.center_register_rightPhotos_1col {
    position: relative;
    top: 20px;
}

.center_register_rightPhotos img {
    display: block;
}

.center_register_rightPhotos_1col {
    width: 304px;
    position: relative;
    top: 20px;
    left: -7px;
}

.center_register_rightPhotos_2col {
    width: 294px;
    position: relative;
    top: -25px;
    left: 17px;
}

.photo5 {
    height: 262px;
    margin-bottom: 25px;
}

.photo6 {
    height: 186px;
    margin-bottom: 29px;
}

.photo7 {
    height: 184px;
}

.photo8 {
    height: 253px;
}


/* sign up */

.center_register-signUp {
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: white;
    width: 96%;
    height: 96%;
}

.center_register-signUp h2 {
    padding-top: 53px;
    padding-bottom: 34px;
    font-size: 38px;
}

.center_register-signUp-content {
    max-width: 301px;
    margin: 0 auto;
}

.center_register-signUp-content form {
    width: 100%;
}

.button {
    padding: auto 0;
    color: white;
    border: none;
    height: 41px;
    width: 100%;
    font-size: 14px;
}

.button img {
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.button p {
    display: inline-block;
    margin-right: -8px;
}

.facebook {
    border: 2px solid #2f53a3;
    font-weight: 700;
    border-radius: 4px;
    background-color: #2f53a3;
    margin-bottom: 7px;
}

.string div {
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
}

.string {
    color: #9b9b9b;
    margin: 0 auto;
    margin-bottom: 11px;
}

.string-br {
    position: relative;
    top: -4px;
    width: 44%;
    opacity: 0.5;
}

.string-word {
    margin: 0 6px;
}

.center_register-signUp-content form input {
    width: 96%;
    height: 41px;
    font-weight: 700;
    padding-left: 9px;
    margin-bottom: 8px;
    color: #642f6b;
    border-radius: 4px;
    border: solid 2px #dcdcdc;
}

.center_register-signUp-content form input:last-child {
    border-color: #81398b;
    color: white;
    font-size: 16px;
    background-color: #81398b;
}

.center_register-signUp-content form input[type="submit"] {
    width: 100%;
    padding-left: 0;
    letter-spacing: -1.31px;
}


.center_register-signUp-content form input::-webkit-input-placeholder {
    color: #81398B;
    font-size: 15px;
}


/* join now */

.join_now {
    position: relative;
    text-align: center;
    width: 462px;
    margin: 0 auto;
    height: 595px;
    padding-top: 133px;
    padding-left: 17px;
    margin-bottom: 34px;
    font-weight: 700;
}

.join_now-circle {
    position: absolute;
    box-sizing: border-box;
    border-radius: 100%;
    border: 1px solid rgba(255 , 255, 255, 0.3);
    color: #67326e;
    background: transparent;
}

.content_container .join_now-circle {
    padding: 44px;
}

.joinCircle {
    width: 371px;
    height: 371px;
    background-color: #ffffff;
    border-radius: 100%;
}

.joinCircle big {
    position: relative;
    top: 101px;
    left: 2px;
    font-size: 60px;
}

.joinCircle p {
    position: relative;
    top: 94px;
    font-size: 46px;
}

.joinCircle button {
    position: relative;
    top: 111px;
    width: 139px;
    height: 39px;
    color: white;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 700;
    border: none;
    background-image: linear-gradient(to right, #e22028 0%, #f9b416 100%);
}

.join_now-bgElems {
    position: absolute;
    left: -663px;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 1798px;
    background-clip: border-box;
    background: url('../img/join_now/bg.png');
}

/* join now bg elems */

.elem1 {
    top: 154px;
    left: -77px;
    width: 204px;
    height: 204px;
    padding: 25px;
}

.circle1  {
    height: 100%;
    background-color: #f9b416;
    border-radius: 100%;
}

.circle1 img {
    padding-top: 34px;
}

.elem2 {
    top: 384px;
    left: 123px;
    width: 134px;
    height: 134px;
    padding: 15px;
}

.circle2 {
    height: 100%;
    background-color: #fe4a5d;
    border-radius: 100%;
}

.circle2 img {
    padding-top: 29px;
}

.elem3 {
    top: 60px;
    left: 330px;
    width: 270px;
    height: 270px;
    padding: 33px;
}

.circle3 {
    height: 100%;
    background-color: #ff6c00;
    border-radius: 100%;
}

.circle3 p {
    padding-top: 60px;
    padding-right: 10px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 34px;
    transform: rotate(-7deg);
}

.elem4 {
    top: 477px;
    left: 432px;
    width: 212px;
    height: 212px;
    padding: 25px;
}

.circle4 {
    height: 100%;
    background-color: #f9b416;
    border-radius: 100%;
}

.circle4 p {
    padding-top: 37px;
    padding-left: 7px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    line-height: 33.63px;
    transform: rotate(5deg);
}

.circle4 big {
    font-size: 44px;
}

.elem5 {
    top: 37px;
    left: 1199px;
    width: 203px;
    height: 203px;
    padding: 25px;
}

.circle5 {
    height: 100%;
    background-color: #fe4a5d;
    border-radius: 100%;
}

.circle5 p {
    padding-top: 39px;
    padding-left: 1px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.97px;
    transform: rotate(2deg);
}

.circle5 big {
    font-size: 40px;
}

.elem6 {
    top: 446px;
    left: 1199px;
    width: 133px;
    height: 133px;
    padding: 16px;
}

.circle6 {
    height: 100%;
    background-color: #fe4a5d;
    border-radius: 100%;
}

.circle6 img {
    padding-top: 25px;
}

.elem7 {
    top: 335px;
    left: 1462px;
    width: 247px;
    height: 247px;
    padding: 28px;
}

.circle7 {
    height: 100%;
    background-color: #ff6c00;
    border-radius: 100%;
}

.circle7 p {
    padding-top: 60px;
    padding-left: 2px;
    color: #ffffff;
    font-size: 24px;
    line-height: 27.91px;
    transform: rotate(2deg);
}

.elem8 {
    top: 72px;
    left: 1693px;
    width: 174px;
    height: 174px;
    padding: 19px;
}

.circle8 {
    height: 100%;
    background-color: #f9b416;
    border-radius: 100%;
}

.circle8 img {
    padding-top: 34px;
}

/* footer */

footer form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    margin: 0 auto;
    margin-bottom: 54px;
}

footer form p {
    display: inline-block;
    color: #00cfae;
    margin-right: 6px;
    font-weight: 700;
    font-size: 16px;
    width: 176px;
}

.newsletter-email {
    box-sizing: border-box;
    width: 265px;
    padding-left: 5px;
    border: 1px solid #cdcdcd;
    border-right: none;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.newsletter-submit {
    box-sizing: border-box;
    width: 135px;
    background-color: #00cfae;
    color: white;
    border: 1px solid #00cfae;
    border-right: none;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer form input {
    display: inline-block;
    height: 40px;
    border: none;
} 

.footer_container {
    max-width: 828px;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}

nav a {
    color: #2f1946;
    text-decoration: none;
}

.footer_flags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 710px;
    margin-bottom: 20px;
}

.footer_flags a {
    padding-left: 5px;
    padding-right: 5px;
}

.rights {
    padding-top: 5px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    color: #2f1946;
    font-family: Lato;
    font-size: 12.7px;
    font-weight: 400;
    line-height: 24px;
}

@media (max-width: 850px) {
    .header_menu {
        padding: 0;
        top: 24px;
        float: right;
        right: 3%;
        position: relative;
        background: transparent;
        width: 85px;
        height: 26px;
        border: none;
    }
    .header_title_cards-card {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .header_title-heart {
        width: 50%;
        height: 50%;
    }
    .header_title-heart img {
        width: 100%;
        height: 100%;
    }

    .join_now {
        padding-left: 0;
    }

}

@media (max-width: 589px) {
    .newsletter-email {
        box-sizing: border-box;
        width: 265px;
        padding-left: 5px;
        border: 1px solid #cdcdcd;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    .header_title {
        padding-top: 13%;
    }
    
    .newsletter-submit {
        box-sizing: border-box;
        width: 135px;
        background-color: #00cfae;
        color: white;
        border: 1px solid #00cfae;
        border-radius: 4px;
    }
}
