* {
    padding: 0;
    margin: 0;
}

.slider {
    border: 5px solid black;
    margin: 100px auto;
    width: 1000px;
    height: 500px;
    
}

.leftButton,.rightButton {
    outline: none;
    position: relative;
    z-index: 10;
    opacity: 0.45;
    border: none;
    background: none;
    vertical-align: middle;
    height: 100%;
    width: 100px;
}

.rightButton {
    transform: scale(-1, 1);
    float: right;
}

.images {
    overflow: hidden;
    position: relative;
    object-fit: contain;
    top:-100%;
    width: 100%;
    height: 100%;
}

.image {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}

.image:first-child {
    display: block;
}

.image img:first-child {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.buttons {
    margin: 0 auto;
    display: block;
    position: relative;
    top: -95%;
}

.microButton  {
    outline: none;
    vertical-align: middle;
    border: none;
    background: none;
    height: 30px;
    width: 30px;
}

.microButton img {
    height: 100%;
    width: 100%;
}

